@font-face{
    font-family: "Bold1";
    src: url("/fonts/Bold.ttf") format("truetype");
    font-style: normal;
    font-display: swap;
    font-weight: 700;
}
@font-face{
    font-family: "Medium1";
    src: url("/fonts/Medium.ttf") format("truetype");
    font-style: normal;
    font-display: swap;
    font-weight: 500;
}
@font-face{
    font-family: "Heavy";
    src: url("/fonts/Heavy.ttf") format("truetype");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}
@font-face{
    font-family: "SemiBold1";
    src: url("/fonts/SemiBold.ttf") format("truetype");
    font-weight: 600;
    
    font-style: normal;
    font-display: swap;
}
@font-face{
    font-family: "Regular1";
    src: url("/fonts/Regular.ttf") format("truetype");
    font-style: normal;
    font-display: swap;
    font-weight: 400;
}



body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

