.main-page {
  height: 100vh;
  width: 100%;
  background: url("/background2.png") no-repeat center center;
  background-size: cover;
  display: flex;
  color: white;
}
.mainPageText {
  font-family: Regular1;
  font-size: 20px;
  margin-top: 7px;
  width: 712px;
  height: 148px;
  margin-left: 100px;
}
h1 {
  font-family: Heavy;
  text-align: left;
  font-size: 64px;
  line-height: 100%;
  letter-spacing: 0%;
  width: 869px;
  margin-top: 158px;
  margin-left: 100px;
}
.highlight {
  color: #62a744;
}
.container {
  max-width: 1280px;
  margin: 0 auto;
}
.info {
  width: 1070px;
  display: flex;
  border-radius: 40px;
  justify-content: space-between;
  padding: 10px 36px;
  background: linear-gradient(to right, #62a744, #26411a);
  font-family: Medium1;
  align-items: center;
  margin-left: 100px;
  margin-top: 19px;
}
.block1 {
  gap: 14px;
  display: flex;
  align-items: center;
}
.nameInf {
  max-width: 88px;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
}

.accidentsInf {
  display: flex;
  background: #203716;
  border-radius: 16px;
  padding: 7px 14px;
  gap: 10px;
  align-items: center;
}
.accNum {
  font-family: Heavy;
  font-size: 40px;
}
.closedRoads {
  display: flex;
  background: #203716;
  border-radius: 16px;
  padding: 7px 14px;
  gap: 10px;
  align-items: center;
}
.roadsNum {
  font-family: Heavy;
  font-size: 40px;
}
.traficEstimate {
  gap: 12px;
  display: flex;
  align-items: center;
}
.traficName {
  max-width: 145px;
}
.traficNum {
  background: #203716;
  font-family: Heavy;
  border-radius: 16px;
  font-size: 40px;
  width: 67px;
  height: 67px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.d3MainPage {
  width: 548px;
  height: 548px;
  position: absolute;
  left: 794px;
}
.cont {
  display: flex;
  position: relative;
}
.cont1 {
  display: grid;
}
.mainPagePopup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 459px;
  height: 327px;
  border-radius: 22px;
  background: #fcfffa;
  z-index: 1000;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
}
