.entranceChoiceBlock {
  width: 180px;
  height: 115px;
  border-radius: 22px;
  gap: 10px;
  padding: 10px;
  display: grid;
  margin-left: auto;
  background: white;
}

.entranceChoiceEditor {
  background: #62a744;
  border: none;
  width: 160px;
  border-radius: 22px;
  padding: 10px;
  color: white;
  font-size: 16px;
  font-family: Medium1;
}
.entranceChoiceEditor:hover{
  background: #438427;
}
.entranceChoiceAdmin {
  color: white;
  background: #ca2323;
  border: none;
  width: 160px;
  border-radius: 22px;
  font-size: 16px;
  padding: 10px;
  font-family: Medium1;
}
.entranceChoiceAdmin:hover{
  background: #a10e0e;

}
